html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header {
  color: #ffffff;
  background-color: #0c0c0e;
  padding-bottom: 20px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  font-family: "Forum", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
}
.header__nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__navigation {
  margin-right: 24px;
}
@media (max-width: 1024px) {
  .header__navigation {
    display: none;
  }
}
.header__button {
  display: inline-block;
  border: 0;
  width: 34px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;
}
.header__button--profile {
  margin-right: -3px;
  align-self: center;
  background-image: url("../img/icons/icon-profile.svg");
  background-position: center;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  border-radius: 28px;
  font-size: 15px;
  line-height: 20px;
}
.header__button--navigation {
  display: none;
}
@media (max-width: 1024px) {
  .header__button--navigation {
    position: relative;
    display: inline-block;
    width: 45px;
    background-color: transparent;
    margin-left: 40px;
  }
  .header__button--navigation::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    top: 7px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }
}
.header__profile-menu-wrapper {
  position: relative;
  display: flex;
  align-content: flex-start;
}
.header__profile-dropdown-menu {
  position: absolute;
  z-index: 5;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation__list--adaptive {
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.navigation__list--adaptive .navigation__item {
  line-height: 40px;
}
.navigation__list--adaptive .navigation__link {
  line-height: 40px;
}
.navigation__item {
  padding: 5px 15px;
  cursor: pointer;
}
.navigation__link {
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.navigation__link:active {
  opacity: 0.4;
}
.navigation__link:hover {
  opacity: 0.7;
}
.navigation__link:active {
  opacity: 0.4;
}
.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}
.button {
  display: block;
  width: 75px;
  height: 30px;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: transparent;
  color: #0c0c0e;
  border: 1px solid #0c0c0e;
  border-radius: 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #bb945f;
  border-color: #bb945f;
  transition: all 0.5s;
}
.button:disabled,
.button--disabled {
  color: #bb945f;
  border-color: #bb945f;
  cursor: default;
}
.button:disabled:hover,
.button--disabled:hover {
  background-color: transparent;
}
.welcome {
  color: #ffffff;
  background-color: #0c0c0e;
}
.welcome__wrapper {
  position: relative;
  background-image: url("../img/background/welcome.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  padding: 0 0;
}
@media (max-width: 768px) {
  .welcome__wrapper {
    background-image: url("../img/background/welcome-tablet.png");
  }
}
.welcome__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%);
}
.welcome__text-container {
  position: absolute;
  top: 220px;
  left: 0;
  background-color: #0c0c0e;
  width: 600px;
  height: 220px;
  box-sizing: border-box;
  padding: 35px 40px;
}
.welcome__text {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-family: "Forum", cursive;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
}
.title {
  position: relative;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #0c0c0e;
  text-align: center;
  margin: 0;
  margin-bottom: 61px;
}
.title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  width: 50px;
  height: 1px;
  background-color: #0c0c0e;
}
.about__text {
  text-align: center;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}
.about__slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.about__list {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  justify-content: space-between;
  margin-bottom: 35px;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .about__list {
    width: 100%;
    column-gap: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
  }
}
.about__item {
  max-width: 450px;
}
@media (max-width: 768px) {
  .about__item {
    width: 73.29%;
    margin: 0 auto;
  }
}
.about__image {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}
.about__button-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 84%;
  top: 50%;
  left: 8%;
}
.about__button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/about-arrow-icon.svg");
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.about__button--next {
  transform: rotate(180deg);
}
@media (min-width: calc(768px + 1px)) {
  .about__button {
    display: none;
  }
}
.about__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.about__pagination-item {
  padding: 5px;
  display: flex;
  align-content: center;
  cursor: pointer;
}
.about__pagination-item:nth-last-child(-n+2) {
  display: none;
}
@media (max-width: 768px) {
  .about__pagination-item:nth-last-child(-n+2) {
    display: flex;
  }
}
.about__pagination-button {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #0c0c0e;
  cursor: pointer;
}
.about__pagination-item--current .about__pagination-button {
  background-color: #bb945f;
}
.about__pagination-item:hover .about__pagination-button {
  opacity: 0.8;
}
.favorites__wrapper {
  position: relative;
}
@media (max-width: 768px) {
  .favorites__navbar {
    position: sticky;
    top: 0;
    z-index: 5;
  }
}
.favorites__text {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
.favorites__choice-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.favorites__item {
  position: relative;
  line-height: normal;
  letter-spacing: normal;
  padding: 5px;
  cursor: pointer;
}
.favorites__item:not(:last-child) {
  margin-right: 86px;
}
.favorites__control-mark {
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 6.9px);
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #000000;
}
.favorites__control-label {
  padding-left: 32px;
}
.favorites__choice-box input[type="radio"]:checked + .favorites__control-mark::before {
  content: '';
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
  width: 7px;
  height: 7px;
  background-color: #000000;
  border-radius: 50%;
}
.favorites__choice-box input[type="radio"]:checked ~ .favorites__control-label {
  font-weight: 700;
}
.seasons__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 260px;
  margin-bottom: 40px;
  animation-duration: 8s;
}
.seasons__list--spring,
.seasons__list--summer,
.seasons__list--autumn {
  display: none;
}
@media (max-width: 1420px) {
  .seasons__list {
    width: 81.04%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .seasons__list {
    justify-content: flex-start;
  }
}
.seasons__item {
  position: relative;
  box-sizing: border-box;
  padding: 15px 20px;
  border: 1px solid #000000;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .seasons__item {
    min-height: 555px;
  }
}
.seasons__item-title {
  position: relative;
  font-family: "Forum", cursive;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 20px;
}
.seasons__item-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: #bb945f;
}
.seasons__book-title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.seasons__book-autor {
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 20px;
}
.seasons__book-summary {
  font-size: 15px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 14px;
  width: 357px;
  flex: 1 0 auto;
}
@media (max-width: 768px) {
  .seasons__book-summary {
    width: 70.5%;
  }
}
.seasons__image {
  position: absolute;
  bottom: -1px;
  right: -40px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}
@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.shop__text {
  margin: 0;
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .menu {
    flex-direction: column;
  }
}
.menu__table {
  border-spacing: 0 38px;
  text-transform: capitalize;
}
.menu__table:first-child {
  text-align: left;
}
@media (max-width: 1024px) {
  .menu__table:first-child {
    width: 60.16%;
  }
}
.menu__table:last-child {
  text-align: right;
}
@media (max-width: 1024px) {
  .menu__table:last-child {
    width: 64.2%;
    align-self: flex-end;
    margin-top: -40px;
  }
}
.menu__table-header {
  color: #bb945f;
  text-transform: capitalize;
  font-size: 40px;
  font-family: "Forum", cursive;
  font-weight: 400;
  letter-spacing: 2px;
}
.menu__price {
  position: relative;
  padding-left: 215px;
  font-size: 19px;
  letter-spacing: normal;
}
@media (max-width: 1024px) {
  .menu__price {
    padding-left: 210px;
  }
}
.menu__price::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 60px;
  width: 100px;
  height: 1px;
  background-color: #bb945f;
}
.contacts__wrapper {
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .contacts__wrapper {
    padding-top: 23px;
  }
}
.contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
  font-style: normal;
}
@media (max-width: 1024px) {
  .contacts__container {
    flex-direction: column;
  }
}
.contacts__container a {
  text-decoration: none;
  color: #000000;
}
.contacts__all-contacts {
  margin-bottom: 40px;
}
.contacts__all-contacts .contacts__subtitle {
  margin-bottom: 40px;
}
.contacts__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
}
.contacts__text {
  margin: 0;
  margin-bottom: 20px;
}
.contacts__important-contact {
  font-weight: 700;
}
.contacts__location {
  display: block;
  border: 0;
  width: 696px;
  height: 414px;
}
@media (max-width: 1024px) {
  .contacts__location {
    width: 95.6%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .contacts__contacts {
    margin-bottom: 80px;
  }
}
.library-card__wrapper {
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .library-card__wrapper {
    padding-bottom: 38px;
  }
}
.library-card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .library-card__container {
    flex-direction: column;
    align-items: center;
  }
}
.library-card__subtitle {
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: normal;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}
@media (max-width: 1024px) {
  .library-card__subtitle {
    margin-bottom: 30px;
  }
}
.library-card__form {
  box-sizing: border-box;
  width: 600px;
  height: 386px;
  border: 3px solid #bb945f;
  padding: 17px 19px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.library-card__form-container {
  box-sizing: border-box;
  width: 560px;
  height: 272px;
  background-color: #bb945f;
  border: none;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
}
.library-card__form-title {
  font-family: "Forum", cursive;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin: 0;
  margin-bottom: 20px;
}
.library-card__input {
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  border-radius: 10px;
  border: none;
  padding: 8px 20px;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-family: "Forum", cursive;
  color: #bb945f;
}
.library-card__input:not(:last-of-type) {
  margin-bottom: 25px;
}
.library-card__input::placeholder {
  font-family: "Forum", cursive;
  color: #8e8e8e;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}
/*Next code removes input's arrows */
/* Chrome, Safari, Edge, Opera */
.library-card input::-webkit-outer-spin-button,
.library-card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.library-card input[type=number] {
  -moz-appearance: textfield;
}
/* The end of code for arrows */
.library-card__button {
  width: 242px;
  height: 44px;
  margin: 0 auto;
  font-size: 20px;
}
.library-card__button.shown {
  display: block;
}
.library-card__button.hidden {
  display: none;
}
@media (max-width: 1024px) {
  .library-card__find-card {
    margin-bottom: 21px;
  }
}
.library-card__table {
  border-spacing: 33px 20px;
  margin: 0 auto;
  margin-top: -25px;
}
.library-card__table.shown {
  display: table;
}
.library-card__table.hidden {
  display: none;
}
.library-card__table th {
  font-size: 10px;
  letter-spacing: 0.2px;
}
.library-card__table th::after {
  top: 20px;
}
.get-card {
  text-align: right;
  width: 460px;
}
@media (max-width: 1024px) {
  .get-card {
    text-align: center;
    width: 82.4%;
  }
}
.get-card__subtitle {
  font-family: "Forum", cursive;
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: normal;
  margin: 0;
  margin-bottom: 35px;
}
@media (max-width: 1024px) {
  .get-card__subtitle {
    margin-bottom: 40px;
  }
}
.get-card__text {
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 28px;
}
@media (max-width: 1024px) {
  .get-card__text {
    margin-bottom: 32px;
  }
}
.get-card__button {
  display: inline-block;
  margin-left: 12px;
}
.get-card__button--profile {
  display: none;
}
@media (max-width: 1024px) {
  .get-card__button {
    margin-right: 7px;
  }
  .get-card__button:last-of-type {
    margin-left: 5px;
  }
}
.adaptive-menu {
  position: fixed;
  box-sizing: border-box;
  padding: 25px 15px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 332px;
  height: 570px;
  background-color: #0c0c0e;
  z-index: 3;
}
@media (min-width: calc(1024px + 1px)) {
  .adaptive-menu {
    display: none;
  }
}
.adaptive-menu__wrapper--header-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  margin-bottom: 32px;
}
.adaptive-menu__button {
  position: relative;
  width: 42px;
  height: 42px;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-left: 35px;
  cursor: pointer;
}
.adaptive-menu__button::before {
  content: '';
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  top: 20px;
  left: -2px;
  transform: rotate(45deg);
}
.adaptive-menu__button::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  top: 20px;
  left: -2px;
  transform: rotate(-45deg);
}
.adaptive-menu.shown {
  transform: translateX(0%);
  animation-duration: 0.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.adaptive-menu.hidden {
  transform: translateX(100%);
  animation-duration: 0.5s;
  animation-name: slideout;
}
@keyframes slideout {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.adaptive-menu.initial {
  display: none;
}
.dropdown-menu {
  right: 0;
  top: 45px;
  box-sizing: border-box;
  width: 80px;
  height: 115px;
  background-color: #ffffff;
  color: #0c0c0e;
  padding: 5px;
  text-align: center;
}
.dropdown-menu.hidden {
  display: none;
}
.dropdown-menu.shown {
  display: block;
}
.dropdown-menu__title {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  margin: 0;
  margin-bottom: 21px;
}
.dropdown-menu__title::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: calc(50% - 20px);
  width: 40px;
  height: 1px;
  background-color: #bb945f;
}
.dropdown-menu__button {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}
.dropdown-menu__button:first-of-type {
  margin-bottom: 10px;
}
.dropdown-menu__button:hover {
  color: #bb945f;
}
.close-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close-button::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  background-color: #0c0c0e;
  top: 9px;
  left: 0;
  transform: rotate(45deg);
}
.close-button::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  background-color: #0c0c0e;
  top: 9px;
  left: 0;
  transform: rotate(-45deg);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 7;
}
.modal.hidden {
  display: none;
}
.modal.shown {
  display: block;
}
.modal__wrapper {
  position: relative;
  top: calc(50% - 180px);
  margin: auto;
  box-sizing: border-box;
  width: 250px;
  padding: 20px 25px;
  background-color: #ffffff;
  color: #000000;
}
.modal__close-button {
  top: 12px;
  right: 13px;
}
.modal__title {
  font-family: "Forum", cursive;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.modal__input-title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 0;
  margin-bottom: 10px;
}
.modal__input {
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  border: 1px solid #bb945f;
  margin-bottom: 10px;
}
.modal__button {
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal__text {
  font-size: 10px;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}
.modal__additional-button {
  border: none;
  background-color: transparent;
  letter-spacing: 1px;
  text-decoration: underline;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 5px;
}
.profile__wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  top: calc(50% - 200px);
  margin: auto;
  box-sizing: border-box;
  width: 600px;
  height: 400px;
}
.profile__left {
  box-sizing: inherit;
  background-color: #0c0c0e;
  color: #ffffff;
  padding: 25px;
  width: 170px;
  height: 100%;
  flex-shrink: 0;
}
.profile__name-letters {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  color: #bb945f;
  text-align: center;
  margin: 0 auto;
  margin-top: 115px;
  margin-bottom: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  box-sizing: inherit;
  padding-top: 30px;
}
.profile__name {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  letter-spacing: normal;
  line-height: 30px;
}
.profile__right {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  box-sizing: inherit;
  padding: 30px 20px;
}
.profile__title {
  margin: 0;
  margin-bottom: -10px;
  font-family: "Forum", cursive;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-size: 40px;
}
.profile__table {
  border-spacing: 19px 39px;
  margin-left: -20px;
}
.profile__table th {
  letter-spacing: 0.4px;
}
.profile__table th::after {
  top: 30px;
}
.profile__subtitle {
  margin: 0;
  margin-top: -30px;
  margin-bottom: 20px;
  color: #0c0c0e;
  font-size: 25px;
  letter-spacing: normal;
}
.profile__list {
  height: 61px;
  overflow: auto;
  scrollbar-width: thin;
  list-style-type: disc;
  margin-left: 9px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.profile__item {
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
  white-space: nowrap;
}
.profile__card-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  letter-spacing: normal;
}
.profile__card-number {
  margin-left: 16px;
  color: #bb945f;
}
.profile__copy-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url('../img/icons/icon-copy.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 13px;
  background-color: transparent;
  cursor: pointer;
}
.profile__close-button {
  top: 22px;
  right: 23px;
}
.profile-table {
  border-collapse: separate;
}
.profile-table th,
.profile-table td {
  text-align: center;
  font-weight: 400;
  line-height: 20px;
}
.profile-table th {
  position: relative;
  text-transform: capitalize;
}
.profile-table th::after {
  position: absolute;
  left: calc(50% - 10px);
  content: '';
  width: 20px;
  height: 21px;
}
.profile-table th:first-child::after {
  background-image: url('../img/icons/modal-visits.svg');
}
.profile-table th:nth-child(2)::after {
  background-image: url('../img/icons/modal-bonuses.svg');
}
.profile-table th:last-child::after {
  background-image: url('../img/icons/modal-book.svg');
}
.profile-table td {
  letter-spacing: 0.2px;
  font-size: 10px;
}
.buy-card__wrapper {
  position: relative;
  top: calc(50% - 260px);
  margin: auto;
  box-sizing: border-box;
  width: 640px;
  height: 540px;
}
.buy-card__header {
  position: relative;
  box-sizing: border-box;
  padding-top: 10px;
  height: 60px;
  background-color: #0c0c0e;
  color: #ffffff;
}
.buy-card__title {
  font-family: "Forum", cursive;
  font-size: 40px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.buy-card__close-button {
  top: 25px;
  right: 19px;
}
.buy-card__close-button::after,
.buy-card__close-button::before {
  background-color: #ffffff;
}
.buy-card__inner-wrapper {
  box-sizing: border-box;
  padding: 30px 35px 40px 35px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  line-height: 20px;
}
.buy-card__form {
  width: 200px;
  flex-shrink: 0;
  margin-right: 40px;
}
.buy-card__input-title {
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}
.buy-card__input {
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #bb945f;
}
.buy-card__input--short {
  display: inline-block;
  width: 45px;
}
.buy-card__flex-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.buy-card__flex-wrap--price {
  gap: 25px;
  align-items: flex-end;
}
#buy-cvc {
  margin-bottom: 20px;
}
.buy-card__right {
  flex-shrink: 1;
}
.buy-card__text {
  margin: 0;
  color: #8e8e8e;
}
.buy-card__button {
  display: inline-block;
  margin-top: 10px;
}
.buy-card__price {
  font-size: 20px;
  font-weight: 700;
}
.buy-card__element {
  position: relative;
}
.buy-card__error-text {
  position: absolute;
  top: 19px;
  color: red;
  font-size: 8px;
  line-height: 14px;
  white-space: nowrap;
}
.buy-card__element--exp-code .buy-card__error-text {
  top: 4px;
}
/*Next code removes input's arrows */
/* Chrome, Safari, Edge, Opera */
.buy-card__wrapper input::-webkit-outer-spin-button,
.buy-card__wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.buy-card__wrapper input[type=number] {
  -moz-appearance: textfield;
}
/* The end of code for arrows */
.footer {
  background-color: #0c0c0e;
  color: #ffffff;
}
.footer a:hover {
  opacity: 0.7;
}
.footer a:active {
  opacity: 0.4;
}
.footer__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.footer__up-left {
  width: 230px;
}
.footer__address {
  font-style: normal;
  margin: 0;
  margin-bottom: 18px;
}
.footer__address-link,
.footer__down-link {
  text-decoration: none;
  color: #ffffff;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}
.footer__social-item {
  width: 24px;
  height: 24px;
}
.footer__open-hours {
  text-align: right;
  margin: 0;
  margin-bottom: 10px;
}
.footer__down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 0;
}
@media (max-width: 1024px) {
  .footer__down-link:last-of-type {
    width: 120px;
    text-align: center;
  }
}
.footer__down span:first-child {
  display: block;
  margin-right: 180px;
}
@media (max-width: 1024px) {
  .footer__down span:first-child {
    margin-right: 10px;
  }
}
