.header {
  color: @header-text-color;
  background-color: @header-bg-color;
  padding-bottom: 20px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  font-family: "Forum", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
}

.header__nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__navigation {
  margin-right: 24px;

  @media (max-width: @middle-width) {
    display: none;
  }
}

.header__button {
  display: inline-block;
  border: 0;
  width: 34px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;

  &--profile {
    margin-right: -3px;
    align-self: center;
    background-image: url("../img/icons/icon-profile.svg");
    background-position: center;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    border-radius: 28px; 
    font-size: 15px;
    line-height: 20px;
  }

  &--navigation {
    display: none;

    @media (max-width: @middle-width) {
      position: relative;
      display: inline-block;
      width: 45px;
      background-color: transparent;
      margin-left: 40px;

      &::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 2px;
        top: 7px;
        right: 0;
        background-color: @header-text-color;
        box-shadow: 0 10px 0 0 @header-text-color, 0 20px 0 0 @header-text-color;
      }
    }
  }
}

.header__profile-menu-wrapper {
  position: relative;
}

.header__profile-dropdown-menu {
  position: absolute;
  z-index: 5;
}