.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: @middle-width) {
    flex-direction: column;
  }
}

.menu__table {
  border-spacing: 0 38px;
  text-transform: capitalize; 

  &:first-child {
    text-align: left;

    @media (max-width: @middle-width) {
      width: 60.16%;
    }
  }

  &:last-child {
    text-align: right;

    @media (max-width: @middle-width) {
      width: 64.2%;
      align-self: flex-end;
      margin-top: -40px;
    }
  }
}

.menu__table-header {
  color: @accent-color;
  text-transform: capitalize; 
  font-size: 40px; 
  font-family: "Forum", cursive;
  font-weight: 400;
  letter-spacing: 2px;
}

.menu__price {
  position: relative;
  padding-left: 215px;
  font-size: 19px;
  letter-spacing: normal;

  @media (max-width: @middle-width) {
    padding-left: 210px;
  }
}

.menu__price::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 60px;
  width: 100px;
  height: 1px;
  background-color: @accent-color;
}